h2 {
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #343434;
}

h3 {
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #828282;
}

.profileBtn {
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #343434;
  border: 1px solid #95C0BC;
  box-sizing: border-box;
  text-decoration: none !important;
  padding: 1rem;
}
