.header-section {
  input, select, textarea, .eyeBtn {
    background-color: #F1F8F7;
    box-shadow: none;
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #828282;
    padding: 1.2rem;
    border-radius: 0;

    &:focus{
      background-color: #F1F8F7;
      box-shadow: none;
      font-family: Raleway, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 25px;
      color: #828282;
      padding: 1.2rem;
      border-radius: 0;
    }
  }

  .eyeBtn {
    padding: 0;
  }

  .custom-control label {
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-decoration-line: underline;

    &:before {
      box-shadow: none;
      color: #fff;
      border-color: #F86140;
      background-color: #F86140;
      border-radius: 0
    }
  }

  button {
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #ffffff;
    background: #F86140;
    border-radius: 30.5px;
    padding: 1rem 3rem;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      color: #ffffff;
    }
  }

  p {
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #828282;

    a {
      color: #F86140;
    }
  }

  h2 {
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #343434;
  }

  h3 {
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #828282;
  }
}
