{% extends 'base.html.twig' %}

{% block title %}Add new Order{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="page-header">
        <h3 class="page-title">
            Add new Order
        </h3>
    </div>

    {{ include('order/_form.html.twig') }}

{% endblock %}
